@import url(https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap>);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Plus Jakarta Sans','sans-serif';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    background:linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%); ;
    
}
body > :not(footer){
    margin: 0 1rem;
}

/* general styles */
.btn{
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 28px;
    width: 140px;
    height: 48px;
}
.font{
    font-weight: 800;
    color: #13183F;
    line-height: 35px;
}


/* navigation */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem !important;
    margin-bottom: 2.375rem !important;
}
nav a{
    font-size: 28px;
    cursor: pointer;
}
nav button{
    background: #13183F;
    z-index: 3;

}


/* header text*/
.head-container h1{
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 26px;
}
.head-container p{
    padding-bottom: 24px;
}
.head-container button{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    width: 167px;
    height: 56px;
}

/* mobile background image */
.image-mobile{
    background-image: url(assets/image-hero-mobile@2x.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 435px 409px;
    height: 386px;
    width: 100%;
    margin: auto;
    padding-bottom: 66px;
}

.image-tablet{
    display: none;

}

/* cards */
.card-container{
    display: grid;
    row-gap: 40px;
}
.intro-card{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 10px;
}
.intro-card p{
    font-size: 24px;
    color: #FFFFFF;
    padding: 30px 30px;
}


.card-element{
    background: white;
    padding: 0 30px 30px 30px;
    border-radius: 10px;
}
.card-element p{
    max-width: 286px;
    padding-bottom: 16px;
}

.card-element img{
    position: relative;
    top: -23px;
    display: block;
    width: 56px;
}

.card-element h2{
    font-size: 20px;
    padding-bottom: 16px;
}
.card-element a{
    font-weight: 700;
    font-size: 18px;
    color: #F74780;
    padding-top: 24px;

}



/* footer */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 1rem 0 1rem;
    height: 120px;
    background: #13183F;
    color: white;
    margin-top: 80px;
}
footer button{
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
}
footer p{
    color: white !important;
    font-size: 28px;
    cursor: pointer;
}



/* hover */
nav button:hover{
    background: #666CA3;
    cursor: pointer;
}
.head-container button:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    cursor: pointer;
}
.card-element a:hover{
    color: #FFA7C3;
}
footer button:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    cursor: pointer;
}


/* tablet */
@media (min-width: 786px) {
    body > :not(footer){
        margin: 0 40px;
    }
    main{
        margin-top: 100px !important;
    }
    nav{
        z-index: 1;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr); 
        gap: 56px 10px;
    }
    .head-container{
        padding-top: 105px;
    }
    .head-container button{
        margin-bottom: 186px;
    }
    .head-container p{
        max-width: 398px;
    }
    .head-container h1{
        max-width: 326px;
    }

    /* background image */
     .image-mobile{
        display: none;
    }
    .image-tablet{
        display: block;
        background:url(assets/image-hero-tablet.png);

        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: bottom left;

    } 





    .intro-card p{
        padding-top: 56px;
    }
    footer{
        padding: 0 40px;
    }
}

@media (min-width:1000px) {
    .image-tablet{
        height: 85vh;
        width: 50%;
    }
}


/* desktop */
@media (min-width:1300px) {
    .card-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 80px 30px;
    }
    body > :not(footer){
        margin:0 165px 0 165px;
    }


    .image-tablet{
        display: none;
    }


    /* background image */
    .image-desktop{
        display: block;
        background:url(assets/image-hero-desktop.png);

        position: absolute;
        top: 0;
        right: 0;
        width: 55%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: bottom left;
    }







    footer{
        padding: 0 165px 0 165px;
    }
}